# CLERK
VITE_CLERK_PUBLISHABLE_KEY="pk_test_TODO_REPLACE_ME"
CLERK_SECRET_KEY="sk_test_**********"

#CONVEX
VITE_CONVEX_SITE_URL="https://SITE_URL.convex.site"
VITE_CONVEX_URL="https://HTTP_ENDPOINT.convex.cloud"

#POSTHOG
VITE_POSTHOG_HOST="HOST"
VITE_POSTHOG_KEY="KEY"

# SENTRY
SENTRY_AUTH_TOKEN="TOKEN"
VITE_SENTRY_DSN="https://**********@**********.ingest.us.sentry.io/**********"
VITE_SENTRY_ORG="ORG"
VITE_SENTRY_PROJECT="PROJECT"
